@font-face {
    font-family: "whyte-inktrap";
    src: url("../graphics/font/WhyteInktrap-Regular.ttf") format("truetype");
    font-family: "whyte-inktrap";
    src: url("../graphics/font/WhyteInktrap-MediumItalic.ttf") format("truetype");
    font-family: "whyte-inktrap";
    src: url("../graphics/font/WhyteInktrap-BoldItalic.ttf") format("truetype");
    font-family: "whyte-inktrap";
    src: url("../graphics/font/WhyteInktrap-Bold.ttf") format("truetype");
  }