:root {
    --color-black:#1B1B1B; 
    --color-white: #FFFFD3; 
    --margin-for-text: 20px; 
    --margin-for-text-tablet: 80px; 
    --margin-for-text-desktop: 15px; 
}
*{
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'whyte-inktrap', sans-serif;
    font-family: 'courier-prime', serif;
    scroll-behavior: smooth; 
    color: var(--color-white); 
}
.background { 
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    transition: width .5s;      
}
@media screen  and (min-width: 0px) {
/*Page1*/ 
    .page1 {
       height: 100vh; 
       width: 100%; 
    }
    header {
        display: grid;
        grid-template-columns: 20% 17% 20% auto 40%;
        margin: var(--margin-for-text) 8px;
        align-items: end;
    }
/*Sticker*/ 
    .line1{
        display: block; 
        border-top: 1px solid var(--color-white); 
        width: 100%; 
        height: auto; 
        align-self: center;
    }
    header img {
        background-color: transparent;
    }
    .headerSticker1, .headerSticker2 {
        width: 80%; 
        height: auto; 
    }
    .headerSticker1 {
        justify-self: center;
    }
    .headerSticker3 {
        width: 100%; 
        height: auto; 
        padding-right: var(--margin-for-text);
    } 
    .input-section{
        display: flex; 
        flex-flow: column nowrap;
    }
    main {
        display: flex; 
        flex-flow: column nowrap; 
        margin-right: var(--margin-for-text);
    }
/* Discover ur...*/ 
    main h1 {
        font: bold 32px/38px 'whyte-inktrap', sans-serif; 
        margin: 0 var(--margin-for-text); 
      
    }
    main h1 span {
        font: normal 30px/38px 'whyte-inktrap', sans-serif; 
    }
/* Enter ur DOB */
    label {
        font: normal 18px/38px 'whyte-inktrap', sans-serif; 
        margin: 10px var(--margin-for-text); 
    }
/* INPUT BOX*/ 
    input {
       border: none; 
       border-bottom: 1px solid var(--color-white); 
       margin: 0 var(--margin-for-text); 
       font: normal 18px/38px 'courier-prime', serif; 
       text-align: center;
       background-color: transparent;
       letter-spacing: 7px;
       overflow: visible; 
       color: var(--color-white);
    }
    input[type=date]:focus {
        background-color: var(--color-white);
        background-position: 25px;
        color: var(--color-black);
        align-items: center;
    }
/*Enter button*/ 
    .enterButton {
        font: normal 20px/38px 'courier-prime', serif; 
        margin:  var(--margin-for-text); 
        border-radius: 57px;
        border: 1px solid var(--color-white);
        cursor: pointer; 
        padding: 10px 100px;
        background-color: transparent;
    }
/*infoButton*/ 
    .infoButton {
        display: block; 
        font: normal 30px/38px 'courier-prime', serif; 
        border-radius: 50%; 
        border: 1px solid var(--color-white);
        text-align: center; 
        cursor: pointer; 
        padding: 10px 20px; 
        background-color: transparent;
        margin: 10px 20px;
    }
/*All Flower Photo*/ 
    .allFlowersPhoto {
       /* border: 230px solid #FFFFD3; */
        margin: 20px 20px 90px;
        width: 90%;
        height: auto; 
    }
/*garden*/ 
    .explore {
        margin-top: -100px;
        font: italic 17px/37px 'whyte-inktrap', sans-serif; 
        letter-spacing: 1px;
        text-align: center;
    }
    .garden{
        margin-top: 100px; 
    }
    
/*container for each sign*/
    .container {
        display: grid; 
        grid-template-columns: 125px auto;
        grid-template-areas: 
        '.zodiacPhoto .zodiacText';
        margin: 30px 15px; 
    }
    .zodiacPhoto {
        width: 80%; 
        height: auto; 
        align-self: center;
        margin: 5px; 
        background-color: transparent;
        justify-self: center;
       
    }
    .longArrow {
        width: 60%; 
        height: auto; 
        color: var(--color-white);
        margin-left: 10px; 
        align-self: center; 
        justify-self: center;
    }
/*container for text*/ 
    .zodiacText {
        grid-template-columns: 25% 50% 25%;
    }
/* Sign: xx/xx - xx/xx*/ 
    .zodiacText h2 {
        font: normal 14px/14px 'courier-prime', serif; 
        text-decoration: underline;
        margin: 15px auto; 
    }
/*FLOWER*/ 
    .zodiacText h1 {
        font: normal 30px/35px 'whyte-inktrap', sans-serif; 
        margin: 5px 0; 
        width: 100%; 
        height: auto; 
    }
/*read more*/ 
    .zodiacText p {
        font: normal 14px/24px 'whyte-inktrap', sans-serif; 
    }
    .gotoSign{
        text-decoration: none;
    }
    .readMore {
        display: grid; 
        grid-template-columns: 40% 10% auto;
        grid-template-areas: "readMoreText star longArrow";
        align-items: center;
    }
    .readMoreText{
        grid-area: readMoreText;
    }
    .star{
        grid-area: star;
    }
    .longArrow{
        grid-area: longArrow;
    }
/***/
    .star {
        justify-self: center;
        align-self: center; 
    }
    footer {
        font: normal 15px/24px 'courier-prime', serif;
        margin: 40px var(--margin-for-text) 15px; 
    }
    .page1-exploreButton, .page2-content-intro{
        display: none; 
    }
    }

@media screen and (min-width:768px) {
    .headerSticker1, .headerSticker2 {
        width: 50%; 
        height: auto; 
    }
    .headerSticker3 {
        width: 70%; 
        height: auto; 
        justify-self: end;
    } 
    main h1 {
        font: bold 60px/68px 'whyte-inktrap', sans-serif; 
        margin: var(--margin-for-text) var(--margin-for-text-tablet) 10px; 
    }
    main h1 span{
        font: normal 40px/38px 'whyte-inktrap', sans-serif; 
    }
/*Enter dob*/ 
    label {
        font: normal 20px/38px 'whyte-inktrap', sans-serif; 
        margin: 0 var(--margin-for-text-tablet) 20px; 
    }
/* INPUT BOX*/ 
    input {
        font: normal 25px/38px 'courier-prime', serif; 
        margin:15px  var(--margin-for-text-tablet); 
    }
/*Enter button*/ 
    .enterButton {
        font: normal 25px/38px 'courier-prime', serif; 
        margin: var(--margin-for-text) var(--margin-for-text-tablet); 
    }
/*infoButton*/ 
    .infoButton {
         margin: 10px var(--margin-for-text-tablet);
    }
/*container for each sign*/
    .container {
        width: 90%;
        height: auto; 
        grid-template-columns: 30% auto;
        margin: var(--margin-for-text-tablet) 50px; 
        border-radius: 40px; 
        padding: 10px 46px; 
        border: 1px solid var(--color-white);
        background-color: var(--color-black); 
    }
/* Sign: xx/xx - xx/xx*/ 
    .zodiacText h2 {
        font: normal 25px/38px 'courier-prime', serif; 
        margin: 15px auto; 
    }
    .zodiacPhoto{
        width: 100%; 
        height: auto; 
        margin-right: 50px; 
    }

/*FLOWER*/ 
    .zodiacText h1 {
        font: normal 50px/55px 'whyte-inktrap', sans-serif; 
        letter-spacing: .5px;
    }
/*Read more*/
    .readMore{
        margin: 10px 0 20px; 
    }
    .zodiacText p, .star {
        font: normal 25px/24px 'whyte-inktrap', sans-serif; 
    }
    .zodiacText p{
        align-self: center;
    }
    .star {
        align-self: center;
        justify-self: center;
    }
    .longArrow {
        width: 80%; 
        height: auto; 
    }
    .page1-exploreButton, .page2-content-intro{
        display: none; 
    }
}

@media screen and (min-width: 1440px) {
    body{
        margin: var(--margin-for-text-desktop) var(--margin-for-text-tablet) 0 ; 
    }
/*PAGE1*/
    .page1{
        display: grid;
        grid-template-columns: 40% auto;
        grid-template-areas: 
        "photo content";
        width: 100%; 
        height: auto; 
    }
    .page1-content{
        grid-area: content;
        width: 100%; 
        height: auto;  
    }
    header{
        margin: var(--margin-for-text-tablet) 0 0; 
    }
/*Discover*/ 
    main h1 {
        font: bold 65px/73px 'whyte-inktrap', sans-serif; 
        letter-spacing: 1px;
        text-align: center;
    }
    main h1 span{
        font: normal 60px/38px 'whyte-inktrap', sans-serif; 
    }
/*Enter...*/ 
    label {
        font: normal 30px/35px 'whyte-inktrap', sans-serif; 
        text-align: center;
        margin-top: 80px;
        letter-spacing: .5px;
    }
    input {
        margin: 0 200px; 
        font: normal 28px/38px 'courier-prime', serif;
    }
/*All Flower photo*/ 
    .page1-photo{
        grid-area: photo;
        width: 100%; 
        height: auto; 
    }
/*Enter button*/ 
    .enterButton {
        font: normal 25px/35px 'courier-prime', serif; 
        margin:  30px 220px; 
        border-radius: 57px;
        border: 1px solid var(--color-white);
        cursor: pointer; 
        padding: 10px 100px;
        background-color: transparent;
    }
/*infoButton*/ 
    .infoButton {
        margin: 10px var(--margin-for-text-tablet);
        position: absolute; 
        bottom: 100px; 
        right: 10px; 
    }
/*explore*/ 
    .page1-exploreButton{
        display: block;   
        text-align: center;  
        position: relative; 
        bottom: 20px; 
    }
    .page1-exploreButton-content{
        background-color: transparent;
        display: flex;
        flex-flow: column nowrap; 
        align-items: center;
    }
    .downArrow, .upArrow{
        background-color: transparent;
        color: var(--color-black);
        position: relative; 
        z-index: 300; 
        text-align: center;
    }
    .downArrow img{
        width: 20%; 
        background-color: transparent;
        height: auto; 
        transform: rotate(90deg);
        margin: 70px 0 0; 
    }
    .upArrow img{
        transform: rotate(-90deg);
        width: 20%; 
        height: auto; 
        background-color: transparent;
        margin: 50px; 
    }
    .exploreDesktop{
        text-align: center;  
        position: relative; 
        font: italic 17px/37px 'whyte-inktrap', sans-serif; 
        letter-spacing: 1px;
        background-color: transparent;
        z-index: 300; 
        color: var(--color-black);
        margin: 35px; 
    }
    .page1-exploreButton a{
        text-decoration: none; 
        background-color: transparent; 
    }
    .dot{
        height: 350px;
        width: 350px;
        background-color: var(--color-white);
        border-radius: 50%;
        display: inline-block;
        position: relative; 
        top: 260px; 
        text-align: center;
        z-index: 5; 
    }
    .explore{
        display: none;
    }
/*PAGE2*/
    .page2-content-intro{
        display: block;
    }
    .zodiacPhoto img{
        width: 100%; 
        height: auto;
        text-align: center;
    }
/*STICKER*/ 
    .headerSticker {
        display: grid;
        grid-template-columns: 20% auto 30%;
        margin: var(--margin-for-text) 0;
        align-items: end;
    }
    .headerSticker3 {
        align-self: flex-end;
    } 
    .page2{
        display: grid;
        grid-template-columns: 40% auto;
        grid-template-areas: 
        ". content";
        width: 100%; 
        height: auto; 
        padding-top: 200px; 
    }
/*garden*/
    .garden-content{
        grid-area: content;
    }
    .garden{
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        height: auto; 
        align-items: space-between;
        justify-content: space-between;
    }
    .container{
        background-color: var(--color-black); 
        width: 45%; 
        height: auto; 
        padding-bottom: var(--margin-for-text-desktop);
        display: flex;
        flex-flow: row wrap; 
        margin: 0 var(--margin-for-text-desktop) var(--margin-for-text-tablet);
    }
    .page2-content-intro-text {
        font: normal 40px/35px 'whyte-inktrap', sans-serif; 
        text-align: center;
        margin-top: 50px;
        letter-spacing: .5px;
    }
/* Sign: xx/xx - xx/xx*/ 
    .zodiacText h2 {
        font: normal 18px/28px 'courier-prime', serif; 
        margin: 15px auto; 
    }
/*FLOWER*/ 
    .zodiacPhoto {
        width: 70%; 
        height: auto; 
    }
    .zodiacPhoto img{
        align-self: center;
        margin-left:30px; 
    }
    .zodiacText h1 {
        font: normal 35px/40px 'whyte-inktrap', sans-serif; 
        letter-spacing: .5px;
    }
    .readMore {
        display: grid; 
        grid-template-columns: 40% 10% auto;
        grid-area: "readMoreText .star longArrow";
        align-items: center;
    }
    .zodiacText p, .star{
        font: normal 15px/18px 'whyte-inktrap', sans-serif; 
    }
    .longArrow {
        width: 80%; 
        height: auto; 
    }
    .star{
        margin-top: 5px; 
    }
/*Credit*/
    footer{
        font: normal 18px/28px 'courier-prime', serif;
    }
    }
    
    